input[type="text"] {
  border: solid 4px #d0e7e5;
  width: 100%;
  padding: 15px 20px;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  outline: none;
  background-color: #fff;
  font-family: monospace;
}

input[type="text"]:focus {
  border-color: #a1d2ce;
}

input[type="text"]:disabled {
  border-color: #989898;
  background-color: #f2f2f2;
  cursor: not-allowed;
}

input[type="text"].input-error {
  border-color: #ee8fa3;
  background-color: #eee1e0;
}

label.required::after {
  content: "*";
  position: absolute;
}

label {
  font-family: monospace;
  display: block;
  margin-bottom: 5px;
}
